/*
* Név: Szilágyi Levente
* Osztály: Szoft-I-2-E
* Dátum: 2023-03-06
*/

#about {
    background-color: burlywood;
    border: 5px solid gray;
    text-align: center;
    position: fixed;
    width: 600px;
    top: 50px;
    right: -230px;
    transform: rotate(45deg);
    font-size: 10px;
}

#idezet {
    border: 5px solid orangered;
    position: fixed;
    text-align: center;
    font-size: 35px;
    background-color: gray;

}